@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

:root{
  --font-size-dynamic: 1vw;
  font-size: 1vw;
}

.civilization-font-equiv {
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25rem;
}

.stellaris-font-equiv {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.1rem;

  .uppercase{
    @apply uppercase;
    letter-spacing: 1rem;
  }
}


/* RESET */
@theme {
  --color-civ-brand: oklch(0.6 0.07 66.93);
  --color-civ-gold: oklch(0.77 0.14 91.04);
  --color-civ-silver: oklch(0.9 0.03 255);

  --text-tiny: 0.25rem;
  --text-tiny--line-height: calc(--text-tiny * 1.5); 
  --text-tiny--letter-spacing: calc(--text-tiny / 10); 
  --text-tiny--font-weight: 400; 
}

/* Balance headings */
h1,h2,h3,h4,h5,h6 {
  @apply text-balance;
}

/* text-content */
p,li,figcaption {
  @apply text-pretty;
  /* @apply max-w-[65ch] */
}

/* Container query bounds */
header, footer, main, section, article {
  container-type: inline-size;
}

button {
  @apply cursor-pointer;
}

/**********/

.grid-area-stack {
  display: grid;
  grid-template-areas: "stack";
  >* {
    grid-area: stack;
  }      
}
.grid-area-stack-inner {
  display: grid;
  grid-template-areas: "innerStack";
  >* {
    grid-area: innerStack;
  }      
}

.animation-pause {
  animation-play-state: paused;
}
.animation-play {
  animation-play-state: running;
}

details > summary {
  @apply cursor-pointer;
}

.z-nav{
  z-index: 10000;
}


select {
  @apply border rounded-sm;

  option {
    @apply bg-slate-700;
    @apply border rounded-none;
  }
}