@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import 'tailwindcss';


.civilization-font-equiv {
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
}

/* RESET */

/* Balance headings */
h1,h2,h3,h4,h5,h6 {
  @apply text-balance;
}

/* text-content */
p,li,figcaption {
  @apply text-pretty;
  /* @apply max-w-[65ch] */
}

/* Container query bounds */
header, footer, main, section, article {
  container-type: inline-size;
}

/**********/

.grid-area-stack {
  display: grid;
  grid-template-areas: "stack";
  >* {
    grid-area: stack;
  }      
}


.animation-pause {
  animation-play-state: paused;
}
.animation-play {
  animation-play-state: running;
}
